<br />
<div class="booyah-box opa col-10 offset-1">
  <div class= 'row'>
    <div class= "col-12">
      <br />
      <h1 class= "text-center img-center"><%= @course.title %></h1>
      <div class = "text-center">
        <% if @course.image.url%>
          <%= image_tag @course.image.url, class: 'img-fluid' %>
        <% end %>
        <br />
        <br />
        <hr />
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-4 pad-left">
      <div class = "row ">
        <h5 class = 'underline inline' > Cost:</h5>
        &nbsp;
        &nbsp;
        <h5 class = "badge badge-primary inline">
          Human Cost:
          <br />
          <%= number_to_currency @course.cost %>
        </h5>
        &nbsp;
        &nbsp;
        <h5 class = "badge badge-primary inline">
          Superior Cat Cost:
          <br />
          <span> 🥫<%= (@course.cost/3).to_i %> T.C. (tuna cans) </span>
        </h5>
      </div>
      <br />
      <div class = "row">
        <h5 class = 'underline inline' > Duration:</h5>
        <div class = inline>
          &nbsp;
          <> hours
            <br />
            <br />
          </div>
          <div>
            <h5 class = 'underline inline' > Created by: </h5>
            &nbsp;
            &nbsp;
            <div class = "inline"> <%= @course.user.email %> </div>
            <br />
          </div>
          <br />
          <div>
            <% if current_user && current_user == @course.user %>
              <%= link_to 'Adminstrator', instructor_course_path(@course), class: 'btn btn-danger'  %>
            <% end %>
            <% if current_user %>
              <% if current_user.enrolled_in?(@course) %>
                <h5 class= 'inline'> <span class="badge badge-info">You Are Enrolled!</span></h5>
              <% else %>
              <% if @course.free? %>
                <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
              <% else %>
                <%= form_tag course_enrollments_path(@course) do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-email="<%= current_user.email %>"
                  data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                  data-amount="<%= (@course.cost * 100).to_i %>"
                  data-locale="auto"></script>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <h3 class="badge badge-info">Sign In to Enroll!</h3>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-8  border-left">
        <h4 class = 'underline text-left' > Description: </h4>
        <br />
        <%= @course.description %>
      </div>
      <br />
    </div>
    <hr />
    <div class="col-12">
      <% @course.sections.rank(:row_order).each do |section| %>
        <div class="section">
          <h3>
            <%= section.title %>
          </h3>
          <div class="row">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <div class="col-12 col-sm-6">
                <div class="lesson text-center">
                  <br />
                  <%= link_to lesson_path(lesson) do %>
                    <b><%= lesson.title %></b>
                    <br />
                    <%= lesson.subtitle %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
