<br />
<div class="booyah-box opa col-10 offset-1">
  <div class= 'row'>
    <div class= "col-12">
      <br />
      <h1 class= "text-center img-center"><%= @course.title %></h1>
      <div class = "text-center">
        <% if @course.image.url%>
          <%= image_tag @course.image.url, class: 'img-fluid' %>
        <% end %>
        <br />
        <br />
        <hr />
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-4 col-12 pad-left">
      <div class = "row ">
        <h3 class = 'underline inline' > Cost:</h3>
        &nbsp;
        &nbsp;
        <h1 class = "badge badge-primary badge_cost inline">
          Human Cost:
          <br />
          <%= number_to_currency @course.cost %>
        </h1>
        &nbsp;
        &nbsp;
        <h1 class = "badge badge-primary badge_cost inline">
          Superior Cat Cost:
          <br />
          <span> 🥫<%= (@course.cost/3).to_i %> T.C. (tuna cans) </span>
        </h1>
      </div>
      <br />
      <div class = "row">
          <div>
            <h3 class = 'underline inline' > Created by: </h3>
            &nbsp;
            &nbsp;
            <h4 = "inline"> <%= @course.user.email %> </h4>
            <br />
</div>
          </div>
          

          <div class = "row">
            <% if current_user %>
              <% if current_user.enrolled_in?(@course) %>
                <h2 class= 'inline'> <span class="badge badge-info">You Are Enrolled!</span></h2>
              <% else %>
              <% if @course.free? %>
                <h5 class= "inline"> This class is FREE! (Meow, Lucky You!) </h5> &nbsp; &nbsp;

                <%= link_to 'Enroll Now', course_enrollments_path(@course), class: 'btn btn-primary inline', method: :post %>
              <% else %>
                <%= form_tag course_enrollments_path(@course) do %>
                <h5 class= 'inline underline'> Pay to enroll: </h5>
                  <script src="https://checkout.stripe.com/checkout.js" class=" inline stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-email="<%= current_user.email %>"
                  data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                  data-amount="<%= (@course.cost * 100).to_i %>"
                  data-locale="auto"></script>
                <% end %>
                <% end %>
                <% end %>
             <% else %>
            <h3 class="badge badge-info">Sign In to Enroll!</h3>
            <% end %>
          </div>
          <div class = "row">
      <% if current_user && current_user == @course.user %>

              <%= link_to 'Adminstrator', instructor_course_path(@course), class: 'btn btn-danger btn_admin'  %>
            <% end %>
      </div>
      </div>

      <div class="col-md-8 col-12  border-left">
        <h4 class = 'underline text-left' > Description: </h4>
        <br />
        <h3> <%= @course.description %> </h3>
      </div>
      <br />
    </div>
    <hr />
    <div class="col-12">
      <% @course.sections.rank(:row_order).each do |section| %>
        <div class="section">
          <h3>
            <%= section.title %>
          </h3>
          <div class="row">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <div class="col-12 col-sm-6">
                <div class="lesson text-center">
                  <br />
                  <%= link_to lesson_path(lesson) do %>
                    <b><%= lesson.title %></b>
                    <br />
                    <%= lesson.subtitle %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
